@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-2">Home</h1>
    </div>

    <img src="/images/homepage.svg">
</div>
